on:
  push:
    branches:
      - main

jobs:
  update-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: dispatch documentation deployment
        if: github.repository == 'nf-neuro/website'
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.DOCUMENTATION_PUBLISHING }}
          repository: nf-neuro/nf-neuro.github.io
          event-type: publish-documentation
